<div id="<%= dom_id tweet %>" class="card-body">
  <p class="card-title fw-bold">
  <i class="fa-regular fa-circle-user"></i>
    <%= tweet.username %>
  </p>
  <p class="card-text fw-light">
    <%= tweet.description %>
  </p>


</div>
